body {
    font-family: Arial, sans-serif;
    padding: 10px;
    color: #494d5f;
}

h1, h2 {
    margin: 5px 0;
}

.summary {
    box-shadow: #e3e3e3 0 0 8px 1px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    position: relative;
    h4 {
        margin: 1em 0;
    }
    h3 {
        margin-bottom: 2px;
    }
    p {
        margin: 7px 0;
    }
}

.summary.selected {
    background-color: #d0bdf4;
}

.summary button {
    all: unset;
    margin-top: 10px;
    cursor: pointer;
    i {
        font-size: 1.3em;
    }
    &.add-btn i, &.link-btn i, &.bookmark-btn i, &.remove-bookmark-btn i {
        color: #8458b3;
        padding: 0 2px;
    }
    &.remove-btn i {
        color: #b35858;
    }
}

#clear-tasks {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-self: self-end;
    margin-bottom: 8px;
    margin-right: 14px;
    margin-top: -8px;
    i {
        font-size: 1.5em;
        color: #8458b3;
    }
}

button {
    cursor: pointer;
}

.inline-flex {
    display: flex;
    align-items: flex-start;
    place-content: space-between;
    flex-wrap: nowrap;
}

.badge {
    background: #a0d2eb;
    width: 10px;
    padding: 6px 6px;
    display: flex;
    border-radius: 94px;
    position: absolute;
    top: -9px;
    left: -9px;
    font-size: 0.85em;
    color: #fff;
    height: 10px;
    line-height: 10px;
    justify-content: center;
}

.closed .badge {
    background: #b35858;
    width: 35px;
}

.close-btn {
    right: -8px !important;
    top: -16px !important;
    color: #b35858 !important;
    position: absolute !important;
}

.read-more-btn {
    margin: 0 !important;
}

.notes-list input {
    border: 0;
    padding: 5px;
    background: transparent;
    &:focus-visible {
        outline: none;
    }
}

.strikethrough {
    text-decoration: line-through;
    color: #aaa;
}